ion-content {
  --background: none;
  background-image: linear-gradient(#FFA07A, #E9967A, #FFA07A);
  --padding-top: 0px;
}

.verse-background-color{
    --background: #FFE4C4; 
    //--color: #006400;
    --color: #800000;
    font-family: DFKai-sb;
    font-size: 30px;
    padding: 15px 70px 0px 0px;
    text-align: center;
    text-shadow: 1px 1px 3px #F4A460;
  }

.versedisplay {
    //font-family: DFKai-sb;
    //color: white;
    background-color: #FF8C00;
    padding: 10px 3px;
    //text-shadow: 0px 0px 4px #800000;
    text-align: center;
 }

.textinput {
    background-color: white;
    border: 2px solid #DB7093;
}

 .versetext {
    font-family: DFKai-sb;
    font-size: 15px;
    color: white;
    //color: #228B22;
    //position: absolute;
    //top: 36%;
    text-shadow: 1px 1px 0.5px rgb(71, 68, 41);
  }

//.blurry {
 //   color: transparent;
 //   text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 //}
 