<ion-header>
  <ion-toolbar class="marathon-background-color">
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    會 員 區
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class=about>
        <h1>「會員區遊戲規則:」</h1>
        <br>
          <p class=odd>1. 遊戲以團體形式進行.</p>
          <p class=even>2. 遊戲分為數階段, 每階段目標為全體隊員成功背誦一句金句.</p>
          <p class=odd>3. 團隊以密碼登入帳戶開始遊戲, 選擇隊員名字, 及所挑戰的金句. </p> 
          <p class=even>4. 隊員正確背誦金句一次後, 團隊可得100分. 每位隊員可多次背誦同一金句.</p>
          <p class=odd>5. 每位隊員必須由第一階段開始, 按次序完成各階段之金句.</p>
          <p class=even>6. 全體隊員完成背誦金句後, 團隊方可升級到該金句之級別.</p>
        <br>
        <span class=smaller>備註: 隊員若使用語音輸入法背誦金句, 則以粵語為準.</span>
    </ion-card-content>
  </ion-card>
</ion-content>
