ion-content {
    --background: none;
    background-image: linear-gradient(#FFA07A, #E9967A, #FFA07A);
  }
  
  .new-background-color{
    --background: #FFE4C4; 
    //--color: #006400;
    --color: #800000;
    font-family: DFKai-sb;
    font-size: 30px;
    padding: 15px 0px 0px 8px;
    //padding: 15px 45px 0px 8px;
    text-align: center;
    text-shadow: 1px 1px 3px #F4A460;
  }

  .sidemenubutton {
    //--background: #FFE4C4; 
    //--color: #006400;
    --color: #800000;
    --max-width: 10px;
  }

  .about {
    font-family: DFKai-sb;
    background-image: linear-gradient(to bottom right, #FFF0F5, #FAFAD2);
    padding: 10px 9px;
    //text-align: center;
    font-size: 17px;
    color: #A52A2A;
  }

  .smaller {
    font-size: 13px;
    color: #787878;
  }
  