<ion-header>
  <ion-toolbar class="verse-background-color">
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    AWANA
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content class=versedisplay>
            
            <ion-img src="assets/images/jump.jpg"></ion-img>
            
            <ion-button expand="full" fill="clear" size="small" color="light" strong>
              <div class=versetext>{{ information.verse }}</div>
            </ion-button>
            
            <p class=versetext>「{{ information.text1.substr(0,3) }} .................」</p>
            
          </ion-card-content>
    </ion-card>
  
    <p></p>
  
    <ion-card>
      <ion-card-content class=textinput>
          <ion-textarea rows=3 placeholder="輸入經文 (省略章節及標點符號) - 可使用語音輸入" [(ngModel)]="trialInput"></ion-textarea>
          <ion-button shape="round" color="danger" size="small" (click)="checkInput()" slot="end">
            <div>檢視輸入</div>
          </ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>
